<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="icon" href="../Imagenes/icon175x175.ico">
		<title>Consultar Empleado</title>
	</head>
	<body class="body">
		<section class="consultas ">
			<div class="container">
				<h1 class="titulo-blog" align="center">DATOS DE EMPLEADOS</h1>
			</div>
		</section>
		<section>
			<div class="ro">
				<section class="posts col-xs-12 col-md-12 col-lg-12">
                  	<div class="col-xs-12 col-md-12 col-lg-12 ">
                  	    <div class="container col-xs-12 col-md-12 col-lg-12">
                  	        <button class="btn btn-info" name="verEmpleados" id="verEmpleados">Ver consolidado</button>
                  	        <br>
                  	        <br>
                  	        <div class="table-responsive">
                  	             <table id="Contenido" class="table table-striped table-bordered table-hover table-condensed col-md-12 col-lg-12 col-xs-12" >
                                    <th class="success">NOMBRE(S)</th>
                                    <th class="success">APELLIDO(S)</th>
                                    <th class="success">DOCUMENTO DE IDENTIDAD</th>
                                    <th class="success">DIRECCIÓN</th>
                                    <th class="success">TELÉFONO</th>
                                    <th class="success">ROL</th>
                                    <th class="success">USUARIO</th>
                                    <th class="success">ELIMINAR</th>
                                </table>
                  	        </div>
                        </div>
					</div>
				</section>
			</div>
		</section>
		<script src="../Jquery/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../Boostrap/js/bootstrap.min.js"></script>
		<script src="../Js/Gestionar_Empleados.js" type="text/javascript" language="javascript1.5"></script>
	</body>
	<link rel="stylesheet" href="../Boostrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../Css/estilos.css">
</html>
