<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../Boostrap/css/bootstrap.min.css">
    <link rel="icon" href="../Imagenes/Favicon.ico">
    <link rel="stylesheet" href="../Css/estilos.css">
    <title>Registrar Ingreso Por Producto</title>
</head>
<body class="body">
		<div class="container">
            <header class="col-xs-12"><h1>REGISTRAR INGRESO POR PRODUCTO</h1></header>
			<form role="form" action="" method="post" class="form-horizontal col-xs-8">
				<select class="form-control col-xs-8" id="idProducto">
                    <option value="EmpaCarne">Empa. Carne</option>
                    <option value="EmpaPollo">Empa. Pollo</option>
                    <option value="EmpaChicharron">Empa. Chicharrón</option>
                    <option value="EmpaQueso">Empa. Queso</option>
                    <option value="EmpaChampinones">Empa. Champiñones</option>
                    <option value="Gaseosa250">Gaseosa 250</option>
                    <option value="Gaseosa350">Gaseosa 350</option>
                    <option value="JugoHit250">Jugo Hit 250</option>
                    <option value="JugoHit350">Jugo Hit 350</option>
                    <option value="H2O">H2O</option>
                    <option value="Gaseosa2lt">Gaseosa 2 Lt</option>
                    <option value="FuzeTea">Fuze Tea</option>
                    <option value="FlexiPequena">Flexi Pequeña</option>
                    <option value="PonyPet">Pony Pet</option>
                    <option value="PonyMini">Pony Mini</option>
                    <option value="Agua">Agua</option>
                    <option value="Chiclets">Chiclets</option>
                    <option value="Leche">Leche</option>
                    <option value="Pulpas">Pulpas</option>
                    <option value="Avena">Avena</option>
                    <option value="Milo">Milo Caliente</option>
                    <option value="Cafe">Cafe</option>
                </select>
                <input type="text" placeholder="Cantidad Ingreso" class="txtCantidadIngreso col-xs-3" id="txtCantidadIngreso">
                <div class="col-xs-offset-3 col-xs-9">
						<button type="reset" class="btn btn-danger" id="IngresarProducto">Ingresar Producto<span class="glyphicon glyphicon-ok"></span></button>
						<button type="reset" class="btn btn-info">Limpiar <span class="glyphicon glyphicon-erase"></span></button>
						<a href="##" class="btn btn-info">Cancelar <span class="glyphicon glyphicon-remove"></span></a>
				</div>
			</form>
		</div>
		<script src="../Jquery/jquery-1.11.1.min.js" ></script>
        <script src="../Boostrap/js/bootstrap.min.js"></script>
		<script src="../Js/CU-Registrar-Ingresos-por-Productos.js" type="text/javascript" language="javascript1.5"></script>
	</body>
	<link rel="stylesheet" href="../Boostrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../Css/estilos.css">
</html>
