<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../Boostrap/css/bootstrap.min.css">
    <link rel="icon" href="../Imagenes/Favicon.ico">
    <link rel="stylesheet" href="../Css/estilos.css">
    <title>Registrar Ingreso Por Producto</title>
</head>
<body class="body">
		<div class="container">
			<form role="form" action="" method="post" class="form-horizontal">
				<select class="form-control" id="idProducto">
                    <option value="empacarne">Empa. Carne</option>
                    <option value="empapollo">Empa. Pollo</option>
                    <option value="empachicharron">Empa. Chicharrón</option>
                    <option value="empaqueso">Empa. Queso</option>
                    <option value="empachampiñon">Empa. Champiñones</option>
                    <option value="gaseosa250">Gaseosa 250</option>
                    <option value="gaseosa350">Gaseosa 350</option>
                    <option value="hit250">Jugo Hit 250</option>
                    <option value="hit350">Jugo Hit 350</option>
                    <option value="h2o">H2O</option>
                    <option value="gaseosa2l">Gaseosa 2 Lt</option>
                    <option value="fuzetea">Fuze Tea</option>
                    <option value="flexi">Flexi pequeña</option>
                    <option value="ponypet">Pony Pet</option>
                    <option value="ponymini">Pony Mini</option>
                    <option value="agua">Agua</option>
                    <option value="chiclets">Chiclets</option>
                    <option value="leche">Leche</option>
                    <option value="pulpas">Pulpas</option>
                    <option value="avena">Avena</option>
                    <option value="milo">Milo Caliente</option>
                    <option value="cafe">Cafe</option>
                </select>
                <input type="text" placeholder="Cantidad Ingreso" class="txtCantidadIngreso" id="txtCantidadIngreso">
                <div class="col-xs-offset-3 col-xs-9">
						<button type="reset" class="btn btn-danger" id="IngresarProducto">Ingresar Producto<span class="glyphicon glyphicon-ok"></span></button>
						<button type="reset" class="btn btn-info">Limpiar <span class="glyphicon glyphicon-erase"></span></button>
						<a href="##" class="btn btn-info">Cancelar <span class="glyphicon glyphicon-remove"></span></a>

					</div>
			</form>
		</div>
		<script src="../Jquery/jquery-1.11.1.min.js" ></script>
        <script src="../Boostrap/js/bootstrap.min.js"></script>
		<script src="../Js/CU-Gstos_Pedidos.js" type="text/javascript" language="javascript1.5"></script>
	</body>
	<link rel="stylesheet" href="../Boostrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../Css/estilos.css">
</html>
