<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login EasyAdmin</title>
  <link rel="stylesheet" href="../Css/estiloslogin.css">
  <link rel="icon" href="../Imagenes/Favicon.ico">
</head>

<body>
  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Easy<span>Admin</span></div>
		</div>
		<br>
		<form role="form" action="" method="post" class="login-form">
		    <div class="login">
                <input type="text" placeholder="username" name="user" id="user"><br>
				<input type="password" placeholder="password" name="password" id="password"><br>
				<br>
				<button type="reset" class="btn btn-info " name="Ingresar" id="Ingresar">Ingresar!</button>
		</div>
        </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="../Jquery/jquery-1.11.1.min.js"></script>
    <script src="../Boostrap/js/bootstrap.min.js"></script>
    <script src="../Js/Sesiones.js" type="text/javascript" language="javascript1.5"></script>
</body>
    <link rel="stylesheet" href="../Boostrap/css/bootstrap.min.css">
</html>
